{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404</title>
</head>
  <body>
    <main class="columns">
        <div class="column"></div>
        <div class="column">
            <h1 class="title is-2 mt-6 mb-6 has-text-centered">Nie znaleziono strony</h1>
            <div class="box ">
                <a href="/panel/" class="button is-success mt-5">Powrót do panelu</a>
            </div>
        </div>
        <div class="column"></div>
    </main>
  </body>
</html>