{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panel</title>
	<link rel="stylesheet" href="{% static 'main.css' %}" />
  <link rel="stylesheet" href="{% static 'panel.css' %}" />
</head>
<body>
  <script src="{% static 'panel.js' %}" defer></script>
    <main class="columns" id="container">
      <div id="lewy" class="column is-one-quarter">
        <a href="/panel/dodaj-ucznia/" class="button is-primary">Dodaj Ucznia</a>
        <a href="/panel/dodaj-status/" class="button is-primary">Dodaj Status</a>
        <br>
        <button onclick="changeData(this)" class="button is-info mt-5 mb-4">Status</button>
        <a href="/logout/"  class="button is-danger mt-5 mb-4 ml-6" id="logout" >Wyloguj</a>
        <form action="/panel/" method="post">
          <h3 class="subtitle is-3 mb-1">Filtry</h3>
          {% csrf_token %} {{ form }}
          <input type="submit" value="Szukaj" class="button is-success mt-5" />
        </form>
      </div>
      <div id="prawy" class="box column is-three-quarters">
        <div id="students-table">
          <table class="table is-striped">
            <tr>
              <th>Imię</th>
              <th>Nazwisko</th>
              <th>Email</th>
              <th>Klasa</th>
              <th>Czesne</th>
              <th>Należność</th>
            </tr>
            {% for uczen in uczniowie %}
            <tr>
              <td>{{uczen.imie}}</td>
              <td>{{uczen.nazwisko}}</td>
              <td>{{uczen.email}}</td>
              <td>{{uczen.klasa}}</td>
              <td>{{uczen.czesne}}</td>
              <td>{{uczen.naleznosc}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <div id="status-table" class="disabled">
          <table class="table is-striped">
            <tr>
              <th>Imię</th>
              <th>Nazwisko</th>
              <th>Opis</th>
              <th>Kwota</th>
              <th>Data</th>
            </tr>
            {% for status in statuses %}
                <tr>
                  <td>{{status.uczen.imie}}</td>
                  <td>{{status.uczen.nazwisko}}</td>
                  <td>{{status.tytul}}</td>
                  <td>{{status.kwota}}</td>
                  <td>{{status.data}}</td>
                </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </main>
</body>
</html>
